 .u-section-1 {
  /* background-image: url("images/bgmin.jpg"); */
  background-image: url("img/principal.jpg"); 
  background-position: 50% 17%;
}

.u-section-1 .u-layout-wrap-1 {
  /* width: calc(((100% - 1140px) / 2) + 1140px); */
  margin: 0 auto 0 0;
  width: 100%;
}

.u-section-1 .u-image-1 {
  min-height: 672px;
  background-image: url("img/principal.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 672px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px 30px 35px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Cabin;
  line-height: 1;
  margin: 9px 0 0;
  color: white;
  font-size: 30px;
  text-align: center;
  height: 50%;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 23px auto 0 0;
  padding: 16px 30px;
}

.u-section-1 .principal{
  width: 100%;
}

.u-section-1 .subtitle{
  text-align: center;
}
.u-section-1 .subtitle a{
  margin: 0 auto;
}
.u-section-1 .subtitle .span{
  color: white;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.u-section-1 .title-container{
  display: flex;
  flex-direction: column;
}

.u-section-1 .contacto{
  background-color: #4c759c;
  color: #ffffff !important;
}

.u-container-layout .u-line-horizontal{
  position: absolute;
    bottom: 0px;
    left: calc(50% - 30px);
}

.u-section-2 p.u-text {
  margin-bottom: 20px!important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 513px;
    background-position: 50% 0%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 588px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-image-1 {
    min-height: 413px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    min-height: 707px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 85px;
    padding-right: 70px;
    padding-left: 50px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
}
.contact-group {
  /* margin-left: 53px; */
}

}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    min-height: 445px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 55px;
    padding-right: 10px;
  }

}.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 0;
  margin-bottom: 1px;
  margin-left: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 367px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 60px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 76px;
  width: 76px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-2 {
  width: 60px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-3 {
  width: 60px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-line-4 {
  width: 60px;
  height: 3px;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    height: auto;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 1px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 10px;
  }

  .u-section-2 .u-line-1 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-line-2 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-line-3 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-2 .u-line-4 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-text-2 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 35px;
    margin-right: 35px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1197px;
}

.u-section-3 .u-group-1 {
  width: 482px;
  min-height: 330px;
  margin: 65px auto 0 72px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 22px 0 0;
}
.u-section-4-bis .u-text-p {
  font-size: 1.125rem;
  margin: 22px 0 0;
}

.u-section-3 .u-image-1 {
  height: 338px;
  width: 570px;
  margin: 0 auto 0 72px;
}

.u-section-3 .u-image-2 {
  width: 415px;
  height: 545px;
  margin: -85px auto 0 408px;
}

.u-section-3 .u-image-3 {
  width: 422px;
  height: 555px;
  object-position: 5.56% 50%;
  margin: -1083px auto 0 596px;
}

.u-section-3 .u-image-4 {
  width: 340px;
  height: 302px;
  margin: 94px auto 0 762px;
}

.u-section-3 .u-group-2 {
  width: 267px;
  min-height: 312px;
  margin: -318px auto 60px 69px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-3 .u-group-1 {
    width: 448px;
    min-height: 338px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 554px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 399px;
    height: 524px;
    margin-right: 248px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-right: 53px;
    margin-left: 518px;
  }

  .u-section-3 .u-image-4 {
    width: 299px;
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-3 .u-group-2 {
    width: 277px;
    min-height: 256px;
    margin-top: -297px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1403px;
  }

  .u-section-3 .u-group-1 {
    width: 345px;
    min-height: 402px;
    margin-top: 60px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 328px;
    width: 464px;
  }

  .u-section-3 .u-image-2 {
    width: 343px;
    height: 450px;
    margin-top: -119px;
    margin-right: 72px;
  }

  .u-section-3 .u-image-3 {
    width: 341px;
    height: 420px;
    margin-top: -954px;
    margin-right: 34px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    width: 331px;
    height: 290px;
    margin-top: 455px;
    margin-right: auto;
    margin-left: 131px;
  }

  .u-section-3 .u-group-2 {
    width: 283px;
    min-height: 263px;
    margin-top: -543px;
    margin-bottom: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1781px;
  }

  .u-section-3 .u-group-1 {
    min-height: 276px;
    width: 542px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 300px;
    width: 453px;
    margin-top: 366px;
  }

  .u-section-3 .u-image-2 {
    width: 328px;
    height: 431px;
    margin-top: -63px;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 396px;
    height: 412px;
    margin-top: -1014px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 446px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 194px;
    margin-top: 12px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-3 .u-group-1 {
    min-height: 298px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    height: 235px;
    width: 280px;
    margin-top: 254px;
  }

  .u-section-3 .u-image-2 {
    width: 248px;
    height: 334px;
    margin-top: -45px;
  }

  .u-section-3 .u-image-3 {
    height: 312px;
    width: 255px;
    margin-top: -769px;
    margin-right: 15px;
  }

  .u-section-3 .u-image-4 {
    width: 217px;
    height: 217px;
    margin-top: 378px;
  }

  .u-section-3 .u-group-2 {
    min-height: 225px;
    margin-top: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
  }
}.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 773px;
  background-image: url("img/servicios.jpg");
  background-position: 60.92% 50%;
}

.u-section-4.u-section-4-bis .u-image-1 {
  min-height: 773px;
  background-image: url("img/escuelaCachorros.jpg");
  background-position: 60.92% 50%;
}
.u-section-4.u-section-4-bis .u-layout-row {
  max-width: 90%;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 773px;
}

.u-section-4 .u-container-layout-2 {
  padding: 60px 30px 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: normal;
  font-weight: 400;
  line-height: 1.2;
  text-transform: none;
  font-size: 3.75rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 90px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-4 .u-line-1 {
  width: 463px;
  height: 3px;
  transform-origin: left center;
  margin: 40px auto 0 0;
}

.u-section-4 .u-list-1 {
  /* width: 384px; */
  width: 100%;
  grid-template-rows: repeat(3, auto);
  margin: 15px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 262px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 19px 0;
}

.u-section-4 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-text-4 {
  margin: -65px 0 0 87px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 30px 19px 0;
}

.u-section-4 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-text-5 {
  margin: -65px 0 0 87px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-image-1 {
    min-height: 637px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 721px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-4 .u-line-1 {
    width: 332px;
  }

  .u-section-4 .u-list-1 {
    width: 346px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 313px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 81px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-image-1 {
    min-height: 617px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-3 {
    margin-right: 54px;
  }

  .u-section-4 .u-line-1 {
    width: 352px;
  }

  .u-section-4 .u-list-1 {
    width: 328px;
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 316px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 75px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-image-1 {
    min-height: 583px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 80px;
  }

  .u-section-4 .u-line-1 {
    width: 469px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-4 .u-list-1 {
    width: 453px;
    margin-top: 17px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 285px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 92px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 92px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    min-height: 367px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 320px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-list-1 {
    width: 320px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: -11px;
    margin-left: 85px;
  }

  .u-section-4 .u-text-5 {
    margin-right: -11px;
    margin-left: 85px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 707px;
}

.u-section-5 .u-image-1 {
  width: 539px;
  height: 563px;
  margin: 49px auto 0 0;
}

.u-section-5 .u-list-1 {
  width: 550px;
  margin: -563px 0 0 auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 563px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-1 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-3 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-btn-4 {
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-9 {
  text-align: left;
  margin: 20px 858px 49px 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-5 .u-image-1 {
    height: 903px;
    object-position: 50% 0%;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-list-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 457px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 30px;
    margin-right: 658px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-9 {
    margin-right: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1742px;
  }

  .u-section-5 .u-image-1 {
    height: 727px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-5 .u-image-1 {
    height: 355px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 58px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-6 .u-image-1 {
  width: 524px;
  height: 401px;
  margin: 60px 0 0 auto;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 280px;
  margin: -388px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px 20px 0;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  line-height: 1.2;
  font-size: 3.75rem;
  font-family: Cabin;
  font-weight: 400;
  margin: 0;
}

.u-section-6 .u-image-2 {
  width: 819px;
  height: 514px;
  margin: 48px auto 0 0;
}

.u-section-6 .u-group-2 {
  min-height: 340px;
  width: 483px;
  background-image: none;
  margin: -189px 73px 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-shape-1 {
  width: 250px;
  height: 250px;
  margin: -271px auto 81px 31px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-6 .u-group-1 {
    width: 396px;
    min-height: 344px;
    margin-top: -418px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-group-2 {
    margin-top: -94px;
    margin-right: 0;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -365px;
    margin-bottom: 158px;
    margin-left: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1761px;
  }

  .u-section-6 .u-group-1 {
    min-height: 236px;
    margin-top: -670px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-6 .u-image-2 {
    height: 521px;
    width: 626px;
    margin-top: 370px;
  }

  .u-section-6 .u-group-2 {
    min-height: 374px;
    margin-top: -74px;
  }

  .u-section-6 .u-shape-1 {
    width: 192px;
    height: 192px;
    margin-top: 8px;
    margin-bottom: -209px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1583px;
  }

  .u-section-6 .u-image-1 {
    width: 414px;
    height: 295px;
    margin-top: 314px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -564px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 367px;
    width: 481px;
    margin-top: 280px;
  }

  .u-section-6 .u-group-2 {
    margin-top: -50px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 59px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1218px;
  }

  .u-section-6 .u-image-1 {
    height: 201px;
    width: 282px;
    margin-top: 45px;
  }

  .u-section-6 .u-group-1 {
    min-height: 136px;
    margin-top: -360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-6 .u-image-2 {
    height: 229px;
    width: 280px;
    margin-top: 192px;
  }

  .u-section-6 .u-group-2 {
    min-height: 408px;
    width: 282px;
    margin-top: -20px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-shape-1 {
    width: 148px;
    height: 148px;
    margin-top: 35px;
    margin-bottom: -114px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 761px;
}

.u-section-7 .u-list-1 {
  width: 588px;
  margin: 60px 0 0 auto;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 653px;
  grid-gap: 10px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 10px 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-5 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 10px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 10px 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px;
}

.u-section-7 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-11 {
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-12 {
  margin: 20px 10px 0;
}

.u-section-7 .u-group-1 {
  width: 533px;
  min-height: 567px;
  margin: -601px auto 94px 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 40px;
}

.u-section-7 .u-text-13 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.2;
  margin: 29px 0 0;
}

.u-section-7 .u-text-14 {
  margin: 60px 0 0;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-7 .u-list-1 {
    width: 500px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 654px;
  }

  .u-section-7 .u-group-1 {
    width: 438px;
    min-height: 620px;
    margin-top: -637px;
    margin-bottom: 77px;
  }

  .u-section-7 .u-text-13 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-7 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 579px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-group-1 {
    min-height: 464px;
    margin-top: -1072px;
    margin-bottom: 175px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-5 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    margin-top: 59px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -1082px;
    margin-bottom: 174px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1644px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1041px;
  }

  .u-section-7 .u-group-1 {
    margin-top: -1534px;
    margin-bottom: 632px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-13 {
    font-size: 1.5rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 403px;
}

.u-section-8 .u-group-1 {
  min-height: 343px;
  margin: 30px auto 30px 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-8 .u-line-1 {
  width: 147px;
  height: 3px;
  transform-origin: right center 0;
  margin: 30px auto 0;
}

.u-section-8 .u-text-2 {
  width: 715px;
  margin: 20px auto 0;
}

.u-section-8 .u-form-1 {
  height: 47px;
  margin: 39px auto 0;
}

.u-section-8 .u-input-1 {
  font-size: 1.125rem;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-8 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-8 .u-group-1 {
    min-height: 470px;
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-8 .u-form-1 {
    height: 136px;
    width: 468px;
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 400px;
}

#whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#whatsapp svg {
  width: 80px;
  filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
  color: white;
}

.u-palette-contact-base{
  color: white;
  background-color: #ee7145;
}

.contact-group{
  display: flex;
  align-items: center;
}
.contact-group span{
  margin-left: 10px;
}

.contact-container{
  display: flex;
}

.contact-location{
  padding-right: 50px;
}

.btn-footer-social-network{
    width: 70px;
    height: 70px;
    /* background: #4c759c; */
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
}

.btn-footer-social-network img{
  margin-top: 10px;
}

.btn-footer-social-network-container{
  display: inline-flex;
  padding: 20px;
}